{% extends 'balances/base.html' %}
{% load static %}
{% block content %}
      <main class="main-content w-full px-[var(--margin-x)] pb-8">
        <div class="flex items-center space-x-4 py-5 lg:py-6">
          <h2
            class="text-xl font-medium text-slate-800 dark:text-navy-50 lg:text-2xl"
          >
            My Account
          </h2>
          <div class="hidden h-full py-1 sm:flex">
            <div class="h-full w-px bg-slate-300 dark:bg-navy-600"></div>
          </div>
          <ul class="hidden flex-wrap items-center space-x-2 sm:flex">
            <li class="flex items-center space-x-2">
              <a
                class="text-primary transition-colors hover:text-primary-focus dark:text-accent-light dark:hover:text-accent"
                href="#"
                >Account</a
              >
              <svg
                x-ignore
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </li>
            <li>Profile</li>
          </ul>
        </div>

        <div class="grid grid-cols-12 gap-4 sm:gap-5 lg:gap-6">
          <div class="col-span-12 lg:col-span-4">
            <div class="card p-4 sm:p-5">
              <div class="flex items-center space-x-4">
                <div class="avatar h-14 w-14">
                  <img
                    class="rounded-full"
                    src="images/100x100.png"
                    alt="avatar"
                  />
                </div>
                <div>
                  <h3
                    class="text-base font-medium text-slate-700 dark:text-navy-100"
                  >
                    1129 532 2124
                  </h3>
                  <p class="text-xs+">James Banda</p>
                </div>
              </div>
              <ul class="mt-6 space-y-1.5 font-inter font-medium">
                <li>
                  <a
                    class="flex items-center space-x-2 rounded-lg bg-primary px-4 py-2.5 tracking-wide text-white outline-none transition-all dark:bg-accent"
                    href="#"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                    <span>Account</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-span-12 lg:col-span-8">
            <div class="card">
              <div
                class="flex flex-col items-center space-y-4 border-b border-slate-200 p-4 dark:border-navy-500 sm:flex-row sm:justify-between sm:space-y-0 sm:px-5"
              >
                <h2
                  class="text-lg font-medium tracking-wide text-slate-700 dark:text-navy-100"
                >
                  Account Profile
                </h2>
                <div class="flex justify-center space-x-2">
                  <button
                    class="btn min-w-[7rem] rounded-full bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90"
                  >
                    Change Password
                  </button>
                </div>
              </div>
              <div class="p-4 sm:p-5">
              <h3
                class="text-base font-medium text-slate-600 dark:text-navy-100"
              >
                Account Number
              </h3>
              <p class="text-xs+ text-slate-400 dark:text-navy-300">
                1129 532 2124
              </p>

            

                <div class="my-7 h-px bg-slate-200 dark:bg-navy-500"></div>

              <h3
                class="text-base font-medium text-slate-600 dark:text-navy-100"
              >
                Account Name
              </h3>
              <p class="text-xs+ text-slate-400 dark:text-navy-300">
                James Banda
              </p>

              <div class="my-7 h-px bg-slate-200 dark:bg-navy-500"></div>

              <h3
                class="text-base font-medium text-slate-600 dark:text-navy-100"
              >
                Location
              </h3>
              <p class="text-xs+ text-slate-400 dark:text-navy-300">
                Naperi, NP38
              </p>

                <div class="my-7 h-px bg-slate-200 dark:bg-navy-500"></div>
                <div>
                  <h3
                    class="text-base font-medium text-slate-600 dark:text-navy-100"
                  >
                    Phone Number
                  </h3>
                  <p class="text-xs+ text-slate-400 dark:text-navy-300">
                    0995 345 874
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
{% endblock content %}
